{% comment %} <h1>login now?</h1>
<style>
    h3{
        color:red;
    }
</style>
{% for message in messages %}
<h3>{{message}}</h3>
    {% endfor %}
<form action="login" method="POST">
    {% csrf_token %}
    <p>Username:</p>
    <input type="text" name="username"/>
    <p>Password:</p>
    <input type="password" name="password"/><br>
    <input type="submit"/>
</form> {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login Form</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</body>
</html>
